<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Your OTP Code</h2>
    <p>Hello,</p>
    <p>Your OTP code is:
      <strong><%= @otp_code %></strong></p>
    <p>This code will expire in 10 minutes.</p>
    <p>Do not share this code with anyone.</p>
    <br>
    <p>Thank you,<br>The QLock Assessment Team</p>
  </body>
</html>
